*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background-color:cadetblue ;
}
.container{
    position: relative;

    position: relative;
   background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    top: 150px;
   width: 100px;
   left: 500px;
   border-radius: 10%;
   border: 5px solid white;
} 

 img{
    position: relative;
    width: 100px;
    height: 100px;
    ;
 }
 .button_container{
    position:absolute;
    display: flex;
    align-content: center; 
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;

    left: 100px;
    
 }